manifest {
    nextflowVersion = '!>=20.10.0'
}

params {
    out = 'out'
}

plugins {
    id 'nf-azure'
}

includeConfig 'conf/cellranger.config'
includeConfig 'conf/seurat.config'

profiles {
    docker { docker.enabled = true }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    azure {
        azure {
            storage {
                accountName = 'bitslaboaccount'
                accountKey = '' 
            }
            batch {
                location = 'northeurope'
                accountName = 'bitsbatch'
                accountKey = '' 
                autoPoolMode = false
                allowPoolCreation = true
                deletePoolsOnCompletion = true
                pools {

                    mem {
                        vmType = 'Standard_M8ms'
                        vmCount = 1
                    }

                    cpu_mem {
                        vmType = 'Standard_E20_v3'
                        vmCount = 1
                    }

                    small {
                        vmType = 'Standard_A1_v2'
                        vmCount = 1
                    }
                }
            }
        }
    }
    k8s {
        k8s {
            namespace = 'nextflow'
            storageClaimName = 'azurefile-nextflow-work'
            storageMountPath = '/work'
            lauchDir = '/work/launch'
            workDir = '/work/nf-work'
            projectDir = '/work/projects'
            pod = [ [volumeClaim: 'azurefile-nextflow-input', mountPath: '/input'], [volumeClaim: 'azurefile-nextflow-output', mountPath: '/output'], [nodeSelector: 'agentpool=sys'] ]
        }
    }
}

process {
    withLabel: cpu {
        cpus = 20
        memory = 60.GB
    }

    withLabel: mem {
        cpus = 1
        memory = 200.GB
    }

    withLabel: cpu_mem {
        cpus = 20
        memory = 200.GB
    }
}
