manifest {
    nextflowVersion = '!>=20.10.0'
}

params {
    out = 'out'
    input_type = 'filtered'
}

includeConfig 'conf/cellranger.config'
includeConfig 'conf/seurat.config'

profiles {
    docker { docker.enabled = true }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

process {
    withLabel: cpu {
        cpus = 12
        memory = 60.GB
    }

    withLabel: mem {
        cpus = 1
        memory = 60.GB
    }

    withLabel: cpu_mem {
        cpus = 12
        memory = 60.GB
    }
}