manifest {
    nextflowVersion = '!>=20.10.0'
}

params {
    out = 'out'
}

includeConfig 'conf/cellranger.config'
includeConfig 'conf/seurat.config'

profiles {
    docker { docker.enabled = true }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    azure {
        process.executor = 'azurebatch'
        azure {
            storage {
                accountName = ''
                accountKey = ''
            }
            batch {
                location = ''
                accountName = ''
                accountKey = ''
                autoPoolMode = true
                pools {
                    mem {
                        vmType = ''
                        vmCount = 1
                    }

                    cpu_mem {
                        vmType = ''
                        vmCount = 1
                    }

                    small {
                        vmType = ''
                        vmCount = 1
                    }
                }
            }
        }
    }
}

process {
    withLabel: cpu {
        cpus = 20
        memory = 60.GB
    }

    withLabel: mem {
        cpus = 1
        memory = 200.GB
    }

    withLabel: cpu_mem {
        cpus = 20
        memory = 200.GB
    }
}